/* Barra Scroll */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: transparent;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb {
    background: rgb(42, 41, 39);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #222;
}